* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

:root {
    --accent-primary: #304CFD;
    --accent-secondary: #FF965D;
    --white: #FFFFFF;
    --body-primary: #44566C;
    --body-secondary: #8697A8;
    --body-tertiary: #5F6F81;
    --gray-primary: #F0F0F6;
    --gray-secondary: #F5F8F9;
    --gradient-pink-primary: #FFF2E7;
    --gradient-pink-secondary: #FFCADA;
    --gradient-orange-primary: #FFC956;
    --gradient-orange-secondary: #FF9F4D;
    --gradient-aqua-primary: #00F1E2;
    --gradient-aqua-secondary: #2CD5EF;
}

.h1, .h2, .h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: auto;
}

.h1 {
    font-size: 32px;
}

.h2 {
    font-size: 24px;
}

.h3 {
    font-size: 16px;
}

body{
    overflow-x:hidden!important;
    }

.body {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 140%;
}

html {
    /* background: var(--gray-primary; */
    background: -webkit-gradient(linear, left top, left bottom, from(var(--gradient-aqua-primary)), to(var(--gradient-aqua-secondary)));
    background: -o-linear-gradient(var(--gradient-aqua-primary), var(--gradient-aqua-secondary));
    background: linear-gradient(var(--gradient-aqua-primary), var(--gradient-aqua-secondary));
    
}

.bg_top {
    position: absolute;
    top: 0;
    left: 0;
}

.bg_bottom {
    position: absolute;
    bottom: 0;
    right: 0;
}

.menu__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.menu__mobile-circle, .menu__mobile-close {
    height: 70px;
    width: 70px;
    color: white;
    background-color: var(--accent-primary);
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase;
    position: fixed;
}

.menu__mobile-circle {
    z-index: 10;
}

.menu__mobile-close {
    z-index: 5;
}

.menu__mobile-content {
    width: 100%;
    height: 100vh;
    background-color: var(--accent-primary);
    position: fixed;
    z-index: 1000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: 150%;
    -webkit-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
}

.menu__mobile-content ul {
    width: 100%;
    margin-left: 50px;
}

.menu__mobile-content ul p, .menu__mobile-content ul p a {
    color: white;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 400;
    padding: 15px 18px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.menu__mobile-active {
    background-color: var(--accent-secondary);
    -webkit-transition: all 200MS;
    -o-transition: all 200MS;
    transition: all 200MS;
}

#cv {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    outline: hidden;
    -webkit-box-shadow: 0px 40px 50px 0px rgba(20,93,104,0.2);
            box-shadow: 0px 40px 50px 0px rgba(20,93,104,0.2);
}

.about, .resume, .portfolio, .blog, .contact {
    /* position: absolute; */
    /* left: 50px; */
    z-index: -10;
    /* visibility: hidden; */
    -webkit-transition: all 1000MS;
    -o-transition: all 1000MS;
    transition: all 1000MS;
}

.about.active {
    left: 0;
    visibility: visible;
}

.sidebar {
    background-color: var(--gray-secondary);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    border-radius: 50px;
    padding: 50px 0;
    z-index: 1;
}

.sidebar__image {
    border-radius: 48px;
    height: 220px;
}

.sidebar__name {
    font-family: 'Merriweather', serif;
    font-size: 30px;
    color: var(--body-primary);
    padding: 15px 0 20px 0;
}

.sidebar__name .regular {
    font-weight: 400;
}

.sidebar__name .black {
    font-weight: 900;
}

.sidebar__badge {
    background-color: #E9EDF0;
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.sidebar__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 25px;
}

.sidebar__info-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
}

.sidebar__info-block img {
    margin-right: 5px;
}

.sidebar__button {
    background-color: var(--accent-primary);
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    color: white;
    -webkit-box-shadow: 0px 4px 16px rgba(48, 76, 253, 0.25), 0px 4px 32px rgba(48, 76, 253, 0.25);
            box-shadow: 0px 4px 16px rgba(48, 76, 253, 0.25), 0px 4px 32px rgba(48, 76, 253, 0.25);
}

.sidebar__button__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

.sidebar__button__content-image {
    margin-right: 5px;
}

.content {
    margin: -50px 0 50px 0;
    padding: 80px 15px 0 15px;
    background: var(--white);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 100%;
}

.resume {
    padding-bottom: 40px;
}

.about__title, .resume__title, .portfolio__title, .blog__title, .contact__title {
    color: var(--body-primary);
    padding-bottom: 10px;
}

.contact {
    margin-bottom: 30px;
}

.line {
    width: 15%;
    height: 5px;
    position: absolute;

}

.line-blue {
    background-color: var(--accent-primary);
    width: 100%;
    border-radius: 5px;
    height: 100%;
}

.line-orange {
    background-color: var(--accent-secondary);
    width: 30%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    top: 0;
}

.about__text__body {
    margin: 20px 0;
    color: var(--body-primary);
}

.about__doing-title {
    color: var(--body-primary);
}

.about__doing__tasks-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 20px 10px;
    border: 3px solid var(--gray-secondary);
    border-radius: 20px;
    margin: 15px 0;
}

.about__doing__tasks-block img, .about__doing__tasks-block h3 {
    margin-bottom: 10px;
}

.about__doing__tasks-block h3 {
    color: var(--body-primary);
}

.about__doing__tasks-block p {
    color: var(--body-tertiary);
}

.education__title-box, .work__title-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* justify-content: center;; */
}

.education__title, .work__title, .skills__title {
    color: var(--body-primary);
    margin: 30px 0 20px 10px;
}

.skills__title {
    margin-left: 0;
}

.work__title {
    margin-top: 10px;
}

.education__box, .work__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 20px;
    margin-bottom: 30px;
    position: relative;
}

.education__box::before, .work__box::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: var(--accent-primary);
    display: block;
    position: absolute;
    left: -1px;
    border-radius: 50%;
    top: 4px;
    border: 3px solid #EAEDFF;
}

.education__box-title, .work__box-title {
    color: var(--body-primary);
    margin-bottom: 5px;
}

.education__box-date, .work__box-date {
    font-size: 13px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: var(--body-secondary);
    margin-bottom: 5px;
}

.education__box-text {
    color: var(--body-tertiary);
}

.skills__box {
    padding: 5px 0 10px 0;
}

.portfolio__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 20px;
}

.portfolio__list p {
    margin: 0;
}

.portfolio__item {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: var(--body-secondary);
}

.portfolio__box:not(:first-child) {
    margin: 20px 0;
}

.portfolio__active {
    color: var(--body-primary);
}

.portfolio__image img {
    border-radius: 10px;
}

.portfolio__subtitle {
    color: var(--body-primary);
    font-weight: 600;
}

.portfolio__tag {
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    color: var(--body-secondary);
}

.blog {
    margin-bottom: 30px;
}

.blog__component {
    background: var(--gray-secondary);
    border-radius: 25px;
    position: relative;
    margin-top: 30px;
}

.blog__component img {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;    
}


.blog__component-title {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: var(--body-primary);
    margin-bottom: 10px;
}

.blog__component-texts {
    padding: 20px 30px;
    color: var(--body-tertiary);
}

.date {
    position: absolute;
    top: 0;
    z-index: 5;
    /* border-radius: 25px; */
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 9px 15px;
    background-color: var(--accent-secondary);
}

.date__day {
    font-size: 22px;
    font-family: 'Inter', sans-serif;
    color: var(--white);
    font-weight: 600;
}

.date__month {
    font-size: 13px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: var(--white);
    margin-top: -2px;
}


.input__area {
    background-color: var(--gray-secondary);
    margin: 20px 0;
    padding: 20px 10px;
    border-radius: 20px;
}

input[type=text], input[type=email] {
    background-color: var(--gray-secondary);
    border: none;
    outline: none;
    font-family: 'Inter', sans-serif;
}

.input__name {
    background-image: url('../img/user.svg');
    background-repeat: no-repeat;
    padding-left: 22px;
    color: var(--body-primary);
}

.input__email {
    background-image: url('../img/at.svg');
    background-repeat: no-repeat;
    padding-left: 22px;
    color: var(--body-primary);
}

.input__name::-webkit-input-placeholder, .input__email::-webkit-input-placeholder, #message::-webkit-input-placeholder {
    color: var(--body-secondary);
    font-family: 'Inter', sans-serif;
}

.input__name::-moz-placeholder, .input__email::-moz-placeholder, #message::-moz-placeholder {
    color: var(--body-secondary);
    font-family: 'Inter', sans-serif;
}

.input__name:-ms-input-placeholder, .input__email:-ms-input-placeholder, #message:-ms-input-placeholder {
    color: var(--body-secondary);
    font-family: 'Inter', sans-serif;
}

.input__name::-ms-input-placeholder, .input__email::-ms-input-placeholder, #message::-ms-input-placeholder {
    color: var(--body-secondary);
    font-family: 'Inter', sans-serif;
}

.input__name::placeholder, .input__email::placeholder, #message::placeholder {
    color: var(--body-secondary);
    font-family: 'Inter', sans-serif;
}

#message {
    width: 100%;
    max-width: 100%;
    height: 150px;
    background: none;
    border: none;
    outline: none;
    color: var(--body-primary);
}

.form__send, .whatsapp {
    width: 100%;
    padding: 20px;
    font-size: 17px;
    outline: none;
    border: none;
    border-radius: 20px;
    background-color: var(--accent-primary);
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    -webkit-box-shadow: -1px 9px 16px -8px rgba(196,196,196,1);
            box-shadow: -1px 9px 16px -8px rgba(196,196,196,1);
}

.whatsapp {
    margin: 30px 0 20px 0;
    text-decoration: none;
    background: #25D366;
}

.whats__logo {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.form__send img {
    margin-right: 4px;
}

.contact__or {
    position: relative;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

/* .contact__line {
    position: absolute;
    top: 10px;
    width: 100%;
} */

.contact__or-text {
    border-bottom: 1px solid var(--gray-primary);
    line-height: 0;
}

.contact__or-text span {
    background: var(--white);
    padding: 0 10px;
}




.content__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.icon-arrow {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: var(--body-secondary);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.icon-arrow:after, .icon-arrow:before {
    content: "";
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.icon-arrow-2 {
    width: 0;
    height: 0;
    border-width: 6px;
    border-radius: 3px;
    border-style: solid;
    border-bottom-color: transparent;
    border-left-color: transparent;
    margin: 10px;
    -webkit-animation: animateArrow;
            animation: animateArrow;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

.icon-arrow-2:before {
    right: 0;
    top: -3px;
    position: absolute;
    height: 4px;
    -webkit-box-shadow: inset 0 0 0 32px;
            box-shadow: inset 0 0 0 32px;
    -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    width: 15px;
    -webkit-transform-origin: right top;
            -ms-transform-origin: right top;
        transform-origin: right top;
    -webkit-transition: width 0.5s ease-out;
    -o-transition: width 0.5s ease-out;
    transition: width 0.5s ease-out;
    
}

.icon-arrow-2:hover:before {
    width: 25px;
}

.icon-arrow-left {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
        transform: rotate(45deg);
}

.menu_desktop {
    display: none;
}

.cv_link {
    text-decoration: none;
    color: white;
}

.skills__box p {
    color: var(--body-tertiary);
    margin-left: 20px
}

@media only screen and (min-device-width : 768px) {
/* Styles */

    #cv {
        -webkit-box-align: normal;
            -ms-flex-align: normal;
                align-items: normal;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        width: 90%;
        margin: 100px auto;
        background: white;
        border-radius: 50px;
        border-top-right-radius: 0;
    }

    .sidebar {
        width: 25%;
    }

    .content {
        width: 75%;
        max-width: 75%;
        margin: -50px 0 0 0;
        border-top-right-radius: 50px;
        border-top-left-radius: 32% 10% 10% 10%;
        margin: 0;
        padding: 0 40px;
    }

    .menu__mobile {
        display: none;
    }

    .menu__desktop {
        /* background: var(--white); */
        position: relative;
        top: -50px;
        width: 104.7%;
        padding: 25px 25px 10px 25px;
        border-top-right-radius: 50px;
        border-top-left-radius: 50px;
    }

    .menu__desktop img {
        width: 100%;
        position: absolute;
        top: -37px;
        right: 0;
    }

    .menu__desktop-content {
        width: 80%;
        margin: 0 auto;
        padding-left: 31px;
        top: -20px;
        position: relative;
    }

    .menu__desktop ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        position: relative;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .menu__desktop ul p {
        font-family: 'Inter', sans-serif;
        text-transform: uppercase;
    }

    .menu__desktop-item a {
        text-decoration: none;
        font-family: 'Inter', sans-serif;
        color: #5C7491;
        font-size: 17px;
        font-weight: 500;
    }

    .menu__desktop-item-active {
        background: var(--accent-primary);
        padding: 10px 20px;
        border-radius: 10px;
    }

    .menu__desktop-item-active a {
        color: white;
        font-weight: 600;
    }

    .about__doing__tasks {
        display: -ms-grid;
        display: grid;
        grid-column-gap: 25px;
            grid-template-areas:
            'a b'
        ;
    }

    .about__doing__tasks-block {
        padding: 35px 25px
        /* width: 42%; */
        /* float: left; */
    }

    .icon-arrow {
        display: none;
    }

    .portfolio__container {
        display: -ms-grid;
        display: grid;
        grid-column-gap: 25px;
            grid-template-areas:
            'a b'
        ;
        margin-top: 30px;
    }

    .blog__container {
        display: -ms-grid;
        display: grid;
        grid-column-gap: 25px;
            grid-template-areas:
            'a b'
        ;
        /* margin-top: 30px; */
    }

    .blog__component img {
        width: 100%;
    }

    .work ul {
        margin-left: 20px;
    }

    .work ul li {
        color: var(--body-tertiary);
    }

    .portfolio__image img {
        width: 315px;
        height: 274px;
    }
}